<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="user.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
          <label for="email">Age</label>
          <input type="email" class="form-control" name="email" placeholder="Age" [(ngModel)]="user.age">
        </div>
        <div class="form-group">
          <label for="email">Sex</label>
          <input type="email" class="form-control" name="email" placeholder="Sex" [(ngModel)]="user.sex">
        </div>
        <div class="form-group">
          <label for="email">Phone number</label>
          <input type="email" class="form-control" name="email" placeholder="Phone number" [(ngModel)]="user.phoneNumber">
        </div>
        <div class="form-group">
          <label for="email">Role</label>
          <input type="email" class="form-control" name="email" placeholder="Role" [(ngModel)]="user.role">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div>