h1{
    margin-left: 5px;
    margin-right: 15px;
    padding-bottom: 3px;
    margin-top: 10px;
    font-family: fantasy;

   
}
h5{
    margin-left: 5px;
}
h4{
    margin-left:5px;
    margin-top: 5px;
}


.standings{
    padding-top: 10px;
}
p{
    padding-left: 5px;
}
button {
    margin-left: 5px;
   
}
a{
    color: white;
    text-decoration: none;
}
.teamName{
    color: black;
}
.upcomingSchedule{
    text-align: center;
}
body{
    background: lightgray;
}
.card{
    margin-top: 10px;
    border-radius: 10px;
}

