<app-navbar>

</app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <h1>{{league?.name}}</h1>
      <button class="btn btn-primary">Create Team</button>
      <button class="btn btn-primary">Join Team</button>
      <!-- <button class = "btn btn-primary">Join Team</button> -->

      <br>
      <br>


      <p>{{league?.description}}</p>

    </div>


    <div class="col-lg-2">
      <div class="news">
        <h1>League news</h1>
        <h4>{{league?.headline}}</h4>
        <p>{{league?.news}}</p>
      </div>
    </div>

    <div class="col-lg-3   ">
        <table class="table table-striped table-hover table-responsive standings">
          <tr>
            <th>Position</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
          </tr>
          <tr *ngFor="let team of team">
            <th>1</th>
            <th><a href="/team/{{team._id}}">{{team.name}}</a></th>
            <th>5</th>
            <th>2</th>
          </tr>
  
        </table>
      </div>
      <div class="col-lg-3">
        <h1>Upcoming Schedule</h1>
      </div>


  </div>


</div>

<app-footer></app-footer>