.jumbotron{
    margin-bottom: 0px;
    padding: 2em 1em;
}

.nav link{
    color: white;
}

.btn{
    margin: 3px;
}
h1{
    font-family: Arial black;
}
a{
    
    font-size: 120%;
}
.title{
    color: black;
}
