<div class="jumbotron">
  <div class="container-fluid">
    <section class="row">
      <div class="col-md-8">
        <h1><a href="/landing" style="text-decoration : none">San Diego Sports</a></h1>
      </div>
      <div class="col-md-4">
        <div class="btn-group float-right mt-2" role="group">
          <a class="btn btn-md btn-primary" *ngIf="!auth.isLoggedIn()" href="/login">
            <i class="fa fa-flag" aria-hidden="true"></i> Login</a>
          <a class="btn btn-md btn-primary" *ngIf="!auth.isLoggedIn()" href="/register">
            <i class="fa fa-flag" aria-hidden="true"></i> Register</a>
          <a class="btn btn-md btn-primary" *ngIf="auth.isLoggedIn()" (click)="auth.logout()" href="/landing">
            <i class="fa fa-flag" aria-hidden="true"></i> Logout</a>
        </div>
      </div>
    </section>
  </div>

</div>

<!-- <ul class="nav navbar-nav navbar-right">
  <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
  <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
</ul> -->




<nav *ngIf="nav.visible" class="navbar navbar-expand-sm navbar-dark bg-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/landing">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink  ="/">History</a>
    </li>
  </ul>

</nav>