body{
    background: lightgray;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
    
}

.box-part{
    background:#FFF;
    border-radius:40px;
    padding:60px 10px;
    margin:30px 0px;
    border: solid;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
p{
    font-size: large;
}
.navbar{
    display: none;
}
h1{
    margin-top: 5px;
}

