body{
    background: lightgray;
    padding-bottom: 100px;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  
}


.box-part{
    background:#FFF;
    border-radius:40px;
    padding:60px 10px;
    margin:30px 0px;
    border: solid;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
p{
    font-size: large;
}
.navbar{
    display: none;
}
h1{
    margin-top: 5px;
    font-family: Arial Black;
    font-size: 70px;
}

