Team component works

<div class="buttons">
  <a href="/addplayer">
    <button class="btn btn-primary">Add Player</button></a>
  <a href="/team"><button class="btn btn-primary delete" title="delete team" (click)="deleteTeam(_id)">Delete
      Team</button></a>
  <a href=""><button class="btn btn-primary" title="modify team" (click)="updateTeam(_id)">Modify Team</button></a>
</div>



<h3>Team Name: {{team?.name}}</h3>
<h5>Team Captain: {{team?.captain?.name}}</h5>

<table class="table table-bordered">
  <div>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>GP</th>
      <th>FG</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>3PM</th>
      <th>3PA</th>
      <th>3P%</th>
      <th>FT</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>REB</th>
      <th>AST</th>
      <th>STL</th>
      <th>BLK</th>
      <th>PTS</th>
      <th>PPG</th>
    </tr>
    <tr *ngFor="let user of team.players">
        <td><input type="checkbox" name="name1" /></td>
        <td><a href="/player/{{user?._id}}">{{user?.name}}</a></td>
    </tr>




  </div>

</table>