h5{
    margin-left: 5px;
    padding-bottom: 3px;
    display: inline;
}

h1{
    margin-left: 5px;
    margin-right: 15px;
    padding-bottom: 10px;
    display: inline;
}
table{
    margin-top: 20px;
}
.recentResults{
    text-align: center;
}
