<h2>Add team</h2>

<form #addTeamForm="ngForm" (submit)="submit()">
  <div class="form-group">
    <label for="teamCaptain">Team Captain</label>
    <input required maxlength="11" pattern="banana" ngModel name="teamCaptain" #teamCaptain="ngModel" (change)="log(teamCaptain)">
    <div class="alert alert-danger" *ngIf="!teamCaptain.valid">Team Captain is required</div>
      <div *ngIf="teamCaptain.errors.required">Team Captain required</div>

  </div>
  <div class="form-group">
      <label for="teamName">Team Name</label>
      <input ngModel name="teamName" #teamCaptain="ngModel">
  </div>
  
  <button class="btn btn-primary">Submit</button>
</form>