<h2>Add Team</h2>

<form>
  Team name:<br>
  <input type="text" name="teamname">
  <br>
  Team captain:<br>
  <input type="text" name="teamcaptain">
  <br>
  <br>
  Sport:
  <select>
    <option value="basketball">Basketball</option>
    <option value="volleyball">Volleyball</option>
    <option value="soccer">Soccer</option>
    <option value="hockey">Hockey</option>
    <option value="flagfootball">Flag football</option>
    <option value="softball">Softball</option>
  </select>
  <br>
  <br>
  Payment method:<br>
  <select>
    <option value="creditcard">Credit Card</option>
    <option value="paypal">Paypal</option>
  </select>
<br>
<br>
  <input type="submit" value="Submit">

</form>

<div *ngFor="let team of registeredTeam">
  {{team.team_name}}
</div>